<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="vendor/css/bootstrap.min.css" />
	<script src="vendor/js/jquery.min.js"></script>
	<script src="vendor/js/angular.min.js"></script>

	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/loginController.js"></script>
	<title>Document</title>
</head>

<body ng-app="loginDemo">
	<div ng-controller="loginController">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Login Screen</h3>
			</div>
			<div class="panel-body">
				<form name="loginForm" role="form" class="form-horizontal" ng-submit="loginValidate()" novalidate>
					<div class="username-wrapper form-group">
						<label class="col-sm-2 control-label">User Name:</label>
						<div class="col-sm-3">
							<input type="text" name="userName" class="form-control" ng-model="userName" ng-required="true" />
						</div>
					</div>


					<div class="password-wrapper form-group">
						<label class="col-sm-2 control-label">Password:</label>
						<div class="col-sm-3">
							<input type="password" name="password" class="form-control" ng-model="password" ng-required="true" />
						</div>
					</div>

					<input type="submit" class="btn btn-primary" value="Login" ng-disabled="loginForm.$invalid" />
				</form>
			</div>
		</div>
	</div>
</body>

</html>